*.log
*.pyc
*.nbc
*.nbi
*.*swp
*.png
__pycache__/
data/*
!data/sample_*
!data/*_compressed*
!data/cherskii_land_cover.txt
!data/*.md
!data/*.py
!data/variables_metadata.toml
!docs/source/_static/logo.png
data-backup/
outputs/*
plots/*
cache/*
launch.json
*.mp4
*.pkl
profile.*
*.egg-*
.coverage
docs/build/*
docs/logs/*
docs/plots/*
docs/*.svg
docs/*.png
*.nc
